<a href="https://colab.research.google.com/github/Sreenivas77-star/Python/blob/main/Lists%2CSets_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lists

lists are Mutable and Collection of order of items

In [6]:
lst = [1,3,4,5,7]
lst = sum(lst)
print(lst)

20

In [7]:
lst = [1,3,4,5,7]
print(sum(lst))
print(max(lst))
print(min(lst))

20
7
1

In [12]:
# to get an Average

avg = sum(lst)/len(lst)
print(avg)

# if we want to change it to int, we can typecast it to int
print(int(avg))

4.0
4

In [13]:
#Range, enumerate

print(range(5))

range(0, 5)

In [15]:
#range(start,end,step)- range starts from start and till end but not including end with step of value step

for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [18]:
for num in range(1,15,3):
  print(num)

1
4
7
10
13

In [19]:
lst = [1,3,4,5,7]
for num in enumerate(lst):
    print(num)

(0, 1)
(1, 3)
(2, 4)
(3, 5)
(4, 7)

In [20]:
lst = [1,3,4,5,7]
for index,value in enumerate(lst):
    print(index,value)

0 1
1 3
2 4
3 5
4 7

In [26]:
lst = [10,20,30,43,40,50,60,70,39]

index_lst = []
for item in lst:
  if item % 2 == 0:
    idx = lst.index(item)
    index_lst.append(idx)
print(index_lst)

[0, 1, 2, 4, 5, 6, 7]

##Tuples

tuples are immutable orderd collection of items

In [28]:
list1 = [1,2,3,4,5,6,7,8]
tuple1 = [1,2,3,4,5,6,7,8]
tuple1
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
lst[0] = 10
print(lst)

[10, 20, 30, 43, 40, 50, 60, 70, 39]

In [32]:
tuple1 = (1,2,3,4,5,6,7,8)
tuple2 = (1,2,3,4,5,6,7,8)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

##Sets

Sets are mutable unordered collection of items

In [35]:
set1 = {1,2,3,4,5,76,7,8}
set2 = {1,2,3,4,5,6,9,8}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 76}

In [37]:
set1 = {1,2,4}
set2 = {1,7,9}
union_set =set1 | set2
print("union of set1 and set2 is ",union_set)

union of set1 and set2 is  {1, 2, 4, 7, 9}

In [38]:
diff_set = set1 - set2
print("difference of set1 and set2 is ",diff_set)

difference of set1 and set2 is  {2, 4}

In [39]:
intersection_set = set1 & set2
print("intersection of set1 and set2 is ",intersection_set)

intersection of set1 and set2 is  {1}

In [40]:
text = '''The Taj Mahal is an ivory-white marble mausoleum on the right bank of the river Yamuna in Agra, Uttar Pradesh, India. It was commissioned in 1631 by the fifth Mughal emperor, Shah Jahan to house the tomb of his beloved wife, Mumtaz Mahal; it also houses the tomb of Shah Jahan himself.'''

In [45]:
lst=text.split("\n")
lst

['The Taj Mahal is an ivory-white marble mausoleum on the right bank of the river Yamuna in Agra, Uttar Pradesh, India. It was commissioned in 1631 by the fifth Mughal emperor, Shah Jahan to house the tomb of his beloved wife, Mumtaz Mahal; it also houses the tomb of Shah Jahan himself.']