<a href="https://colab.research.google.com/github/Sreenivas77-star/Python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:

count = 0
while count < 5:
  print("Count is", count)
  count += 1

Count is 0
Count is 1
Count is 2
Count is 3
Count is 4

In [17]:

for i in range(5):
    print("Number is", i)

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4

In [16]:
my_list = [1, 2, 3, "hello", True]

my_list.append(35)

my_list[0] = 100

my_list

[100, 2, 3, 'hello', True, 35]