<a href="https://colab.research.google.com/github/Sreenivas77-star/Python/blob/main/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns

In [2]:
import pandas as pd

In [3]:
series = pd.Series({"a":1,"b":2,"c":3})

In [4]:
series

a    1
b    2
c    3
dtype: int64

In [5]:
series.index

Index(['a', 'b', 'c'], dtype='object')

In [6]:
series.values

array([1, 2, 3])

In [12]:
import numpy as np

In [14]:
lst = np.random.randint(0,100,10)
lst

array([85, 20, 70,  9, 77, 12, 93, 26,  1, 43])