<a href="https://colab.research.google.com/github/Sreenivas77-star/Python/blob/main/Print%2CBasic_Operations%2CData%20Types-Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("I Love Python")

I Love Python

In [ ]:
month =2

## Data Types

In [ ]:
age = 20  #int
name = "Alice" # String
price = 10.8  #float
user_exists = True #boolean

In [ ]:
type(user_exists)

bool

In [ ]:
a = 0.11
b = 0.2

print(a+b)

0.31

###Comparision Operator

### == ---> equality
### !=--->for Non Equality
### < -->less than and  <=for less than equal to
### > ---> Greater than and >= for Greater than EquaL to

In [ ]:
x = 10
y = 11

In [ ]:
print (x == y)
print (x != y)
print (x <= y)
print (x >=y)

False
True
True
False

##If Conditionals

In [ ]:
x = 10

In [ ]:
x==2

False

In [ ]:
x = 2

if x ==2:
  print("x is 2")
else:
  print("x is not 2")

x is 2

In [ ]:
x = 3

if x < 2:
  print("x is less than 2")
elif x >=2 and x <=10:
  print("x is in Between of 2 and 10")
else:
  print("x is Greater than 2")

x is in Between of 2 and 10

## For Loops

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for item in list1:
  if item % 2 == 0:
    print(item)
  else:
      print(f"{item} is not even Number")

1 is not even Number
2
3 is not even Number
4
5 is not even Number
6
7 is not even Number
8
9 is not even Number
10

In [ ]:
for item in list1:
  if item % 2 == 0:
    continue
  else:
      print(f"{item} is not even Number")

1 is not even Number
3 is not even Number
5 is not even Number
7 is not even Number
9 is not even Number

In [ ]:
for item in list1:
  if item == 5:
    break
  else:
     print(item)

1
2
3
4

##While Loop

In [ ]:
x = 0

while x < 10:
  print(x)
  x = x+1

print("final Value of x is",x)

0
1
2
3
4
5
6
7
8
9
final Value of x is 10

In [ ]:
x = 11
while x > 10:
  print(x)
  x = x+1
  if x == 20:
      break
  print("final Value of x is",x)

11
final Value of x is 12
12
final Value of x is 13
13
final Value of x is 14
14
final Value of x is 15
15
final Value of x is 16
16
final Value of x is 17
17
final Value of x is 18
18
final Value of x is 19
19

##Data Structures in Python

1.Lists
2.Strings
3.Tuples
4.Sets
5.Dictionaries

##Lists
####list is a Ordered Collection of item
####list can contains any type of elements

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
lst = []
print(lst)
lst = list()
print(lst)

[]
[]

In [ ]:
# list can contains int,str, fp, boolean, tuple, dict,set and functions

1st = [1,"name",2.0,[1,2],True,None,(1,2),{"name":"Alice"}]

##indexing & Slicing

In [3]:
# indexing starts from Zero,
# ["a","b","c"]
first = [10, 20, 30]  # Or whatever your actual data is
print(first[0])
print(first[1])

10
20

In [6]:
lst = [1,2,3,4,5,6,7,8]
length = len(lst)
print(length)
print(lst[length-1])

8
8

In [7]:
lst = [1,2,3,4,5,6,7,8]
lst[-3:-1]

[6, 7]

In [8]:
lst[-3:-6:-1]

[6, 5, 4]

##List Methods

In [9]:
lst =[2,8,5,3,10]
lst.append(100)
print(lst)

[2, 8, 5, 3, 10, 100]

In [10]:
lst = [2,8,5,3,10]
lst.append([11,9])
print(lst)

[2, 8, 5, 3, 10, [11, 9]]

In [11]:
lst.extend([11,9])
print(lst)

[2, 8, 5, 3, 10, [11, 9], 11, 9]

In [16]:
lst = [2,8,5,3,10]
lst.append(5)
print(lst)

[2, 8, 5, 3, 10, 5]

In [18]:
lst = [2,8,5,3,10]
lst.insert(2,11)
print(lst)

[2, 8, 11, 5, 3, 10]

In [20]:
lst = [2,8,5,3,10]
lst.pop()
print(lst)

[2, 8, 5, 3]

In [21]:
lst = [2,3,5,7,8,9]
lst.remove(5)
print(lst)

[2, 3, 7, 8, 9]

In [22]:
lst = [2,3,5,7,8,7,11,7,9]
output_list = [item for item in lst if item != 7]
print(output_list)

[2, 3, 5, 8, 11, 9]

In [27]:
lst = [2,3,5,7,8,7,11,7,9]
lst.clear()
print(lst)

[]

In [28]:
lst = [2,3,5,7,8,7,11,7,9]
lst.sort()
print(lst)

[2, 3, 5, 7, 7, 7, 8, 9, 11]

In [30]:
lst = [1,3,5,7,6,8,9]
lst.reverse()
print(lst)

[9, 8, 6, 7, 5, 3, 1]

In [31]:
lst = [1,3,5,7,6,8,9]
sorted_list = sorted(lst, reverse=True)
print(sorted_list)

[9, 8, 7, 6, 5, 3, 1]

In [32]:
lst = [1,3,5,7,6,8,9]
print(sum(lst))

39

In [42]:
lst = [1,3,5,7,6,8,8,8,9]
lst.count(8)

3

In [43]:
lst = [1,23,4,5]
lst1 = [6,7,8,9]
lst2 = lst + lst1
print(lst2)

[1, 23, 4, 5, 6, 7, 8, 9]

In [44]:
lst = [1,2,4,6,7,8]
lst*4

[1, 2, 4, 6, 7, 8, 1, 2, 4, 6, 7, 8, 1, 2, 4, 6, 7, 8, 1, 2, 4, 6, 7, 8]