<a href="https://colab.research.google.com/github/Sreenivas77-star/Python/blob/main/Print%2CBasic_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("I Love Python")

I Love Python

In [3]:
month =2

## Data Types

In [4]:
age = 20  #int
name = "Alice" # String
price = 10.8  #float
user_exists = True #boolean

In [9]:
type(user_exists)

bool

In [11]:
a = 0.11
b = 0.2

print(a+b)

0.31

###Comparision Operator

== ---> equality !=--->Negitive Equality

In [15]:
x = 10
y = 11

In [17]:
print (x == y)
print (x != y)
print (x <= y)
print (x >=y)

False
True
True
False

##If Conditionals

In [ ]:
x = 10

In [18]:
x==2

False

In [23]:
x = 2

if x ==2:
  print("x is 2")
else:
  print("x is not 2")

x is 2

In [25]:
x = 3

if x < 2:
  print("x is less than 2")
elif x >=2 and x <=10:
  print("x is in Between of 2 and 10")
else:
  print("x is Greater than 2")

x is in Between of 2 and 10

## For Loops

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for item in list1: